<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="linkForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!linkForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">URL</label>
            <input type="text" id="url" formControlName="url" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="tags">
          <div class="row" *ngFor="let tag of linkForm.get('tags').controls; let i = index"
            [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteTag(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddTag()">Add Tag</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
